<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>School Donations Dashboard</title>

<!--CSS-->
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="../static/lib/css/bootstrap.min.css">  
  <link rel="stylesheet" type="text/css" href="../static/lib/css/introjs.css">
  <link rel="stylesheet" type="text/css" href="../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" type="text/css" href="../static/lib/css/dc.css">

  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

<!--Javascript-->

<script type="text/javascript" src="../static/lib/js/crossfilter.js"></script>
<script type="text/javascript" src="../static/lib/js/d3.js"></script>
<script type="text/javascript" src="../static/lib/js/dc.js"></script>
<script type="text/javascript" src="../static/lib/js/intro.js"></script>
<script type="text/javascript" src="../static/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/js/keen.min.js"></script>
<script type="text/javascript" src="../static/lib/js/queue.js"></script>
<script type="text/javascript" src="../static/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/graph.js"></script>


</head>

<!--body Starts here-->

<body>
<section>
      <h3 id="home"></h3>
</section>

<!--Main Container-->
<div class="container">
  <div class="col-sm-12">

<!--Navigation Bar code-->
<header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#top">"For a Brighter Future"</a>
              </div><!-- navbar-header -->

              <div class="collapse navbar-collapse" id="collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#home">Our Candidate</a></li>
                      <li><a href="#Data">The Data</a></li>
                      <li><a href="#Contact">Rallies & Contact us</a></li>
                  </ul>
              </div><!-- collapse navbar-collapse -->
          </div><!-- container -->
      </nav>
  </header>


<!--content-->     

  <!--header image-->
   <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <img src="../static/Images/pennsylvania.jpg" class="center-block img-responsive">
    </div>
  </div>
 </div> 



  <div class='row'>
      <div class='col-sm-12'>

  <h1> Jonnathan Phillips</h1>
  <h3> For office as Governor of Pennsylvania </h3>
  <p> Born and Raised in Pittsburgh, Jon Phillips has allways had a passion for education. Trained to be a teacher, Jon has worked in numerous schools around the city with children of all ages to young adults. In 2012 the Austin Academy of education, where Jon was working as an English teacher was hit by budget cuts and after two years struggling to raise funds, was forced to close, leaving thousands of children without local access to a school.</p>

  <p> After taking part in numerous campaigns to try and save the Austin Academy, Jon's attention turned to the cause of the problem, the removal of the Academies funding. Now after years of campaigning Jon and his election team are ready to take the fight to Washington. </p>
      </div> 
   </div>
   
    <div class='row'>
      <div class='col-sm-5'>
      <h3> Our Pledge </h3> 
  <p> After careful review of the current public spending budget for the state of Pennsylvania, I can confirm that our goal to ensure that all children have access to good quality education facilities is within our grasp. 
  </p>
  <p> With this campaign, we pledge to bring this goal to life and ensure good quality education for all of our children by 2019.
  <p> Further to this, we are able to complete our goal without significant tax raises or implimentation of a new tax. </p>
  <p> Promotion of education based jobs to decrease unemployment rates and provide greater access to education related services. </p>
  <P> Provide increased access for adults to further education, allowing them to take the first steps into new careers and fill gaps in their knowledge.</P>
      </div>
  

      <div class="col-sm-6">
      <img src="../static/Images/cplaceholder.jpg" class="center-block img-responsive">
    </div>
  </div>

    <div class='row'>
      <div class='col-sm-12'>
      <h3> Show, don't tell. </h3> 
        <P> One of the first things you learn when training to become a teacher is the following phrase: "Show, don't tell!"</P>
        <p> The concept is simple enough, instead of trying to tell a student how something works, show them. In doing so, the student is allowed to clearly see what you are trying to teach, without added unessisary information or the tutors personal bias on the topic. I've allways had success in implementing this idea with my students and want to take the same approach with my politics.</p>
        <p> The next section of this webpage has been added to do just that. My team has produced a "data dashboard" using data from the USA school donations database. This database contains up to date records of school funding donations to the different states of the USA. What the dashboard allows you to do is directly interact with the information which has been collected and clearly see what is going on. </p>
      
        <p> Click on the tutorial button now for further information on how to manipulate the data dashboard in the next section.</p>
       </div>
     </div>

    <div class='row'>
      <div class='col-sm-12'>
  <p> </p>
      </div>
      </div>



<!--data dashboard-->  
<hr>

<section>
      <h3 id="Data"></h3>
</section>
        
  <!--Jumbotron-->
   <div class="container">
    <div class="row">
     <div class="col-sm-12 jumbotron">
      <div class="text-center">
       <h2>The Data</h2>
      </div>
     </div>
    </div>
   </div>        

    <div class='row'>
      <div class='col-sm-12'>
 <button type ="button" class="btn btn-default navbar-btn center-block" type="button" autofocus onclick="javascript:introJs().start();">Tutorial</button>
 </div>
 </div>

      <!-- menu select -->
      <div data-step="1" data-intro="Select a US state to review school donations data." style="font-weight: normal" data-position="center" class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Donation State
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
          </div>
        </div>
      </div>
      <!-- menu select -->

          <!-- Time Chart -->
          <div data-step="2" data-intro="Line chart showing total donations to the selected State by date. The user can highlight time periods on the line chart to only view donations data from the select period." style="font-weight: normal" data-position="center" class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Donations
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

      <!-- Poverty -->
      <div data-step="3" data-intro="Bar chart displaying poverty levels for schools in the selected State. Selecting individual bars will only show donations to schools marked at the selected poverty level." style="font-weight: normal" data-position="center" class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">
            Poverty Level
          </div>
          <div class="chart-stage">
            <div id="poverty-level-row-chart"></div>
          </div>
        </div>
       </div>
      <!-- Poverty -->

          <!-- Resources Pie -->
          <div data-step="4" data-intro="Pie chart showing resource types donated & quantities for the selected State. Selecting sections of the pie chart will only show data for donations of the selected resource type." style="font-weight: normal" data-position="center" class="col-sm-5">
            <div class="chart-wrapper">
              <div class="chart-title">
                Resources Type
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie-->


          <!-- funding Pie -->
          <div data-step="5" data-intro="Status of school donations for the selected state. Selecting sections of this pie chart will change the other charts on this page to only show donation data with a completed, reallocated or expired status." style="font-weight: normal" data-position="center" class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Funding Status
              </div>
              <div class="chart-stage">
                <div id="funding-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->



      <!-- Metric 1 -->
      <div data-step="6" data-intro="Provides a figure for the total number of donations to the selected state. No user interaction for this dashboard element." style="font-weight: normal" data-position="center" class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div data-step="7" data-intro="Provides a figure in USD($) for the total donations to the selected state. No user interaction for this dashboard element." style="font-weight: normal" data-position="center" class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD($)
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
</div>

  <div class='row'>
      <div class='col-sm-12'>
      <hr>
      </div>
  </div>   
      <!-- Metric 2 -->

<!--Contact us-->


   <section>
      <h3 id="Contact"></h3>
   </section>
   
  <!--Jumbotron-->
   <div class="container">
    <div class="row">
     <div class="col-sm-12 jumbotron">
      <div class="text-center">
       <h2> Rallies & Contact us</h2>
      </div>
     </div>
    </div>
   </div>

  <div class='row'>
      <div class='col-sm-12'>

  <p> The evidence is clear, more needs to be done to make sure our schools are properly financially supported. It is quite simply unacceptable that funding is being diverted away from education and that a system of donations is supporting what should be the responsability of our government. Every child should be entitled to a good education, as it is only though education that we can grow as a society and become stronger, together. </p>

  <p> Sadly I am unable to complete this goal on my own, however with your support we can make a difference. So what can you do to make sure a difference is made? Aside from giving me your vote for office as governor of Pennsylvania, you can attend one of our election campaign rallies, which will be held at some of the worst hit schools in our state. Here on the front lines, we will make our voices heard.

<h3> Election Campaign Rallies </h3>
</p> All Rallies to start at 3pm on the noted day. Everyone is welcome to attend.</p>

  <div class="row">  
  <div class="col-sm-5, col-md-5">

<h3>February</h3>
 <ul class="list-unstyled">
   <li> 01st- PA-Philadelphia, Philadelphia City High School</li>
   <li> 03rd- PA-Hershey, Hershey Academy of Education</li>
   <li> 05th- PA-Harrisburg, St Joseph's Middle School</li>
   <li> 06th- PA-Chambersburg, Allen Davis High School</li>
   <li> 10th- PA-Uniontown, Union High School</li>
   <li> 11th- PA- Pittsburgh, Pittsburgh High School</li>
   <li> 15th- PA- Alquippa, Jody Night High School</li>
   <li> 18th- PA- Mars, St Paul's Education Center</li>
   <li> 20th- PA-Indiana, Indiana City Middle School</li> 
</ul>
</div>
</div>

  <div class="row">  
  <div class="col-sm-5, col-md-5">

  <h3>March</h3>
<ul class="list-unstyled">
   <li> 02nd- PA-Kittanning, Kittanning Middle school</li>
   <li> 06th- PA-Butler, Frank Turner Academy </li>
   <li> 12th- PA-Franklin, Franklin High School</li>
   <li> 15th- PA-Warren, Audry Roberts Higher Education Center</li>
   <li> 16th- PA-Bradford, St Mary's School</li>
   <li> 18th- PA-Mansfield, Mansfield High School</li>
   <li> 21st- PA-Towanda, Towanda city High School</li>
   <li> 25th- PA-Carbondale, Carbondale Middle School</li>
   <li> 26th- PA-Wilkes-Barre, Peter Marshal High School</li>
   <li> 28th- PA-Bethlehem, Christ church High School</li>
</ul>
</div>
</div>
<p>If you would like to help with one of our rallies or would like to discuss the possibility of arranging for a rally in your area, please contact my campaign team with the below contact information.</p>
<p> Likewise, if you have any queries regarding our campaign, policies or even points raised on this website, we would be deligted to hear from you. </p>

<h3>Contact us</h3> 

<h4>If you want to send us a letter our address is: </h4>

<P> Jonnathan Phillips </p>
<p> 45 Eastmore road, westfield </p>
<p> Philadelphia </p>
<p> Zip code: 5kr 44s </p>

<h4>E-mails can be sent to: </h4>

<P> J-phillips@electPA.com </p>

<h4>You can also call our campaign team on: </h4>

<p> 0394 3384 0495 </p>

<p>Calls to this number are charged at a local rate from landlines and mobiles and will be included in any mobile minutes you have.</p>

      </div>

   </div>
   



  <div class='row'>
      <div class='col-sm-12'>
            <div class="text-center">
  <H4> Vote for Jonnathan Phillips- "For a Brighter Future!" </H4>
            </div>
       </div>
   </div>      
</div>
   </div>



  <!--end image-->
   <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
      <img src="../static/Images/Rally7.jpg" class="center-block img-responsive">
    </div>
  </div>


<hr>
   <div class='col-md-12'>
          <p> Website by Ben Davies, 2017.</p>
          <p>This website has been produced as a coursework assignment for part of the "Code Institute" online curriculum. I claim no ownership over any of the images, music or videos used as part of this website, which exists for educational purposes only.</p>
        </footer>

</body>
</html>