<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>School Donations Dashboard</title>

<!--CSS-->
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="../static/lib/css/bootstrap.min.css">  
  <link rel="stylesheet" type="text/css" href="../static/lib/css/introjs.css">
  <link rel="stylesheet" type="text/css" href="../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" type="text/css" href="../static/lib/css/dc.css">

  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

<!--Javascript-->

<script type="text/javascript" src="../static/lib/js/crossfilter.js"></script>
<script type="text/javascript" src="../static/lib/js/d3.js"></script>
<script type="text/javascript" src="../static/lib/js/dc.js"></script>
<script type="text/javascript" src="../static/lib/js/intro.js"></script>
<script type="text/javascript" src="../static/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/js/keen.min.js"></script>
<script type="text/javascript" src="../static/lib/js/queue.js"></script>
<script type="text/javascript" src="../static/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/graph.js"></script>


</head>

<!--body Starts here-->

<body>

<!--Main Container-->
<div class="container">
  <div class="col-sm-12">

<!--Navigation Bar code-->
<header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#top">"For a Brighter Future"</a>
              </div><!-- navbar-header -->

              <div class="collapse navbar-collapse" id="collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#home">Our Candidate</a></li>
                      <li><a href="#Data">Data</a></li>
                      <li><a href="#Contact">Contact us</a></li>
                  </ul>
              </div><!-- collapse navbar-collapse -->
          </div><!-- container -->
      </nav>
  </header>


<!--content-->     

<section>
      <h3 id="home">Our Candidate</h3>
</section>

  <!--header image-->
   <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <img src="../static/Images/pennsylvania.jpg" class="center-block img-responsive">
    </div>
  </div>
 </div> 



  <div class='row'>
      <div class='col-sm-12'>

  <h1>Jonnathan Phillips</h1>
  <h3> For office as Governor of Pennsylvania </h3>
  <p>dsdasdasdd ddddd dddd dddddddd ddddddd ddddd dddd das asdasda asasda sdasddhajs dha jksdal sk dlksajdkas dlkajd kasj dasjlkajdlajslkajkd.</p>
  <p>sdfa sjdas jd lasjd ;lsak dl;sakd;lsd kasldas hdasdha sdkhsjdddddddd dd ddddddddd ddddd ddddddddddddd dd dddddddddddd ddddddddddddd d ddddddddd dddddddd ddddd dddddd dddddddddddddddd ddddddddddddddddddddd ddd dddddddddd</p>
  <p>jaskdd ddddddd dddddd ddddddd ddddd ddddd ddddd dddd ddddddd ddlasods;ldk asssssssss ssss sssssss ssss sssssssss sssss ssssss sddddddddddd ddddddddddddd ddddssssss</p>
      </div> 
   </div>
   
    <div class='row'>
      <div class='col-sm-6'>
      <h3> Our Pledge </h3> 
  <p>dsdasdasdd ddddddddddd dddddd dddddddddddd dddd dasdasda sdasasasd asdasddhajs dhajksdal sk dlksajdkas dlkajd kasj dasjlkajdlajslkajkd.</p>
  <p>sadjaskjdask kdaskdj jka sjdasj jak jdkajskld askjas dghasydgaygas uh uh uh jjhaskjdhasjd ajjajl jl jlkj lksaj lkj lkj lkjalkdjas uhdasy gdays gyas h u iojpo dkapsdl pokap lkaslkjda ijh iouu oij oioip po oi joiahdiaushd a iushaiuh dagsdyasg  j  o jlsajdlk ajas ja jj oasjdlasj alkj lkj lkj lkj oij oij oij lkj lkj kj lkj lkj kjdlksa.</p>

      </div>

      <div class="col-sm-5">
      <img src="../static/Images/cplaceholder.jpg" class="center-block img-responsive">
    </div>
  </div>

    <div class='row'>
      <div class='col-sm-12'>
  <p>dsdasdasdd dddd dddddd dddddd dddddd ddddddddd dasdasda sdasasasda sdasddhajs dhajksdal sk dlksajdkas dlkajd kasj dasjlkajdlajslkajkd asdsadsd fgdsds  fssfsdsddf fsdsdfsfsd fsdfsfsfd fsdfsdfsf fsdfdsfs fsdfsfs fsdfsdfds fsdfsfs fsdfsdfs fsfsf.</p>
      </div>
      </div>



<!--data dashboard-->  
<hr>

<section>
      <h3 id="Data"></h3>
</section>
        
  <!--Jumbotron-->
   <div class="container">
    <div class="row">
     <div class="col-sm-12 jumbotron">
      <div class="text-center">
       <h2> Data Dashboard</h2>
      </div>
     </div>
    </div>
   </div>        

    <div class='row'>
      <div class='col-sm-12'>
 <button type ="button" class="btn btn-default navbar-btn center-block" type="button" autofocus onclick="javascript:introJs().start();">Tutorial</button>
 </div>
 </div>

      <!-- menu select -->
      <div data-step="1" data-intro="Select a US state to review school donations data." style="font-weight: normal" data-position="center" class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Donation State
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
          </div>
        </div>
      </div>
      <!-- menu select -->

          <!-- Time Chart -->
          <div data-step="2" data-intro="Line chart showing total donations to the selected State by date. The user can highlight time periods on the line chart to only view donations data from the select period." style="font-weight: normal" data-position="center" class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Donations
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

      <!-- Poverty -->
      <div data-step="3" data-intro="Bar chart displaying poverty levels for schools in the selected State. Selecting individual bars will only show donations to schools marked at the selected poverty level." style="font-weight: normal" data-position="center" class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">
            Poverty Level
          </div>
          <div class="chart-stage">
            <div id="poverty-level-row-chart"></div>
          </div>
        </div>
       </div>
      <!-- Poverty -->

          <!-- Resources Pie -->
          <div data-step="4" data-intro="Pie chart showing resource types donated & quantities for the selected State. Selecting sections of the pie chart will only show data for donations of the selected resource type." style="font-weight: normal" data-position="center" class="col-sm-5">
            <div class="chart-wrapper">
              <div class="chart-title">
                Resources Type
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie-->


          <!-- funding Pie -->
          <div data-step="5" data-intro="Status of school donations for the selected state. Selecting sections of this pie chart will change the other charts on this page to only show donation data with a completed, reallocated or expired status." style="font-weight: normal" data-position="center" class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Funding Status
              </div>
              <div class="chart-stage">
                <div id="funding-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->



      <!-- Metric 1 -->
      <div data-step="6" data-intro="Provides a figure for the total number of donations to the selected state. No user interaction for this dashboard element." style="font-weight: normal" data-position="center" class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div data-step="7" data-intro="Provides a figure in USD($) for the total donations to the selected state. No user interaction for this dashboard element." style="font-weight: normal" data-position="center" class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD($)
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
</div>

  <div class='row'>
      <div class='col-sm-12'>
      <hr>
      </div>
  </div>   
      <!-- Metric 2 -->

<!--Contact us-->


   <section>
      <h3 id="Contact"></h3>
   </section>
   
  <!--Jumbotron-->
   <div class="container">
    <div class="row">
     <div class="col-sm-12 jumbotron">
      <div class="text-center">
       <h2> Contact us</h2>
      </div>
     </div>
    </div>
   </div>

  <div class='row'>
      <div class='col-sm-12'>

  <p> Your views are important, let us know what you think and get in touch.

<h3> Membership enquiry </h3>

<p>If you have a membership question you would like to ask please complete this form and press submit to contact us.</p>

<h3>Policy enquiry</h3>

<p>If you have a policy question you would like to ask please complete this form and press submit to contact us.</p>

<h3>Send us your question for Theresa May</h3>

<p>Jeremy Corbyn wants to hear your questions for Theresa May to hold her to account at Prime Minister’s Questions. Send us your questions for the Prime Minister.<p>

<h3>Other ways to contact us<h3>

<p>If you want to send us a letter our address is:</p>

<P>The Labour Party
Labour Central, Kings Manor
Newcastle upon Tyne NE1 6PA</p>

<P>You can also call the Labour Party on 0345 092 2299. </p>

<p>Calls to this number are charged at a local rate from landlines and mobiles and will be included in any mobile minutes you have.

The Labour Party may contact you using the information you supply.​</p>

      </div>

   </div>
   
   </div>
</div>


  <!--end image-->
   <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
      <img src="../static/Images/Rally7.jpg" class="center-block img-responsive">
    </div>
  </div>


<hr>
   <div class='col-md-12'>
          <p> Website by Ben Davies, 2017.</p>
          <p>This website has been produced as a coursework assignment for part of the "Code Institute" online curriculum. I claim no ownership over any of the images, music or videos used as part of this website, which exists for educational purposes only.</p>
        </footer>

</body>
</html>